<div class="container col-md-6">
<form>
  
      
      <input type="text" class="form-control" placeholder="Organization Name" aria-label="Organization" aria-describedby="sizing-addon1" ng-model="createCont.orgData.name" required>
  
      
      <input type="text" class="form-control" placeholder="A few words to help users find..." aria-label="Organization" aria-describedby="sizing-addon1" ng-model="createCont.orgData.keywords" required>
        
      
      <input type="text" class="form-control" placeholder="Brief Organization description" aria-label="Organization" aria-describedby="sizing-addon1" ng-model="createCont.orgData.description" required>
</form>
<div class="wrapper"></div>
<a class="btn btn-primary btn-md" href="/organizations" role="button" >View Organizations</a>
</div>