
	<div class="jumbotron">
	  <h1 class="display-3" >Welcome to Engage </h1>
	  <p class="lead">Engage is a simple web platform that allows students to get involved with non-profit opportunities.</p>
	  <hr class="my-4">
	  <!-- <p ng-if="!main.loggedIn">Sign up and discover opportunites to get engaged!</p> -->
	  <!-- <p ng-if="main.loggedIn"> Discover opportunities today! Scroll down, join an existing organization of create an organization of your own!</p> -->
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="/organizations" role="button" >View Organizations</a>
	  </p>
	</div>
